<ion-view view-title="Transaction">
 <!--  <ion-content>
    <h1>Transaction</h1> -->

    <!-- <ion-item href="">Scan</ion-item> -->
  <!-- </ion-content> -->

 	<ion-content> 
	 	<button class="button button-small button-assertive">
	  		Scan
		</button>

		<button class="button button-small button-assertive">
	  		Edit
		</button>

		<button class="button button-small button-assertive">
	  		Submit 
		</button>

		<button class="button button-small button-assertive">
	  		Cancel 
		</button>
	</ion-content>
</ion-view>
